/**
 * Created by dell on 2019/3/26.
 */
*{
    margin: 0;
    padding: 0;
}
body{
    background: whitesmoke;
    min-width: 350px;

}
/*头部*/
.topbox{
    background: #333333;
    width: 100%;
    height: 44px;
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    position: relative;
}
.topbox>span{
    position: absolute;
    display: inline-block;
    left: 20px;
    font-size: 20px;
}
.navbox{
    list-style: none;
    padding-top: 10px;


}
/*账号及密码区样式*/
.navbox>.zhbox,.navbox>.mmbox{
    margin: 10px 10px 0px 10px ;
    height: 38px;
    border: solid 1px #dddddd;
    line-height: 38px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;


}
/*输入框*/
.navbox>li>input{
    border: none;
    outline: none;
    height: 30px;
    margin-left: 10px;
    font-size: 16px;
}
/*删除按钮*/
.navbox>li>.dl{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 14px;
    background: #dddddd;
    color: white;
    text-align: center;
    line-height: 26px;
    float: right;
    margin-top: 8px;
}
/*自动登录*/
.navbox>.zdbox{
    margin: 20px 10px 0px 10px;
    position: relative;
    padding:0 10px;
}
/*自动登录右边盒子*/
.navbox>.zdbox>.dzd{
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 28px;
    background: #dddddd;
    border: solid 1px #dddddd;
    border-radius: 14px;
    right: 0px;
    top: -3px;
}
/*自动登录右边圆点*/
.navbox>.zdbox>.dzd>.xzd{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: linear-gradient(white,lightblue);
    border-radius: 14px;
}

/*自动登录打开的样式*/
.navbox>.zdbox>.open{
    background: #39b868;
    border:solid 1px #39b868;
}
.navbox>.zdbox>.open>.xzd{
    float: right;
}
/*登录样式*/
.down{
    margin: 30px 10px 0px 10px;
    background: #39b868;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    cursor:pointer
}
/*吐丝样式*/
.ts{
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin:0 auto;
    background:black;
    color: white;
}
.none{
    display: none;
}